
@import "scale";
@import "color";

.title{
    font-weight: bold;
    font-size: 18px;
}
.txt-center{
    text-align:  center;
}
.cur-p{
    cursor: pointer;
}
.hide{
    display: none;
}
.show{
    display: block !important;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
p{
    margin-bottom: 0.5rem;
}
.container{
    margin: 20px;
    padding: 20px 20px 80px 20px;
    background-color: #fff;

    //介绍知识点容器
    .intro-container{
        margin-bottom: 30px;
        .title{
            font-size: 20px;
            font-weight: bold;
        }
        .content{

        }
    }

}

.child-container{
    padding: 5px;
    background-color: aqua !important;
}
.demo{
    margin-top:30px;
    background-color: $color-base;
    padding: 15px;
    border-radius: 8px;
    .inner-demo{
        background: azure;
        padding: 15px;
    }
}

.showVal{
    color: red;
}

.code{
    color: cornsilk;
    background-color: #282a36;
    padding: 15px 15px 15px 30px;
}
