

//首行缩进
.indent1{
  text-indent: 1rem;
}

.indent2{
  text-indent: 2rem;
}

//外边距
//top
.mt5{
  margin-top:5px;
}
.mt10{
  margin-top:10px;
}
.mt15{
  margin-top:15px;
}
.mt20{
  margin-top: 20px;
}
.mt25{
  margin-top: 25px;
}
.mt30{
  margin-top: 30px;
}
.mt35{
  margin-top: 35px;
}
//right
.mr5{
  margin-right:5px;
}
.mr10{
  margin-right:10px;
}
.mr15{
  margin-right:15px;
}
.mr20{
  margin-right: 20px;
}
.mr25{
  margin-right: 25px;
}
.mr30{
  margin-right: 30px;
}
.mr35{
  margin-right: 35px;
}

//bottom
.mb5{
  margin-bottom:5px;
}
.mb10{
  margin-bottom:10px;
}
.mb15{
  margin-bottom:15px;
}
.mb20{
  margin-bottom: 20px;
}

.mb25{
  margin-bottom: 25px;
}

.mb30{
  margin-bottom: 30px;
}

.mb35{
  margin-bottom: 35px;
}
//left
.ml5{
  margin-left:5px;
}
.ml10{
  margin-left:10px;
}
.ml15{
  margin-left:15px;
}
.ml20{
  margin-left: 20px;
}
.ml25{
  margin-left: 25px;
}
.ml30{
  margin-left: 30px;
}
.ml35{
  margin-left: 35px;
}

.mg10{
  margin:10px;
}
.mg20{
  margin:20px;
}
.mg30{
  margin:30px;
}


//宽度
.w60{
  width: 60px;
}
.w90{
  width:90px;
}
.w100{
  width: 100px;
}
