@import '~antd/dist/antd.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ant-layout-sider{
    z-index: 9999;
    height: 100vh;
    overflow-y: scroll;
    .ant-layout-sider-children{
      >ul > li:last-child{
        padding-bottom: 180px;
      }
    }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.red{
  color: red;
}
.pink{
  color: pink;
}
/* ul li默认样式去除 */
ul,li{ padding:0;margin:0;list-style:none}

/* hover 小手 */
.curp{
  cursor: pointer;
}
