@import './../../common/scss/_moduleCommon.scss';
.bar-graph-container{
    .title{
        margin: 15px;
        font-size: 20px;
        font-weight: bold;
    }
    .bar-graph-wrap{
        //height: 500px;
        margin-bottom: 30px;
    }
}
