.bullet-chart-container {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  .legend-wrap {
    margin-left: 185px;
    .color-zone {
      display: inline-block;
      height: 10px;
      width: 10px;
      margin-right: 3px;
    }
    .txt-zone {
      margin-right: 25px;
    }
  }

  .chart-container {
    margin-top: 20px;
    max-width: 800px;
    height: 115px;
    margin-left: 50px;
  }
  #container2,
  #container3 {
    max-width: 800px;
    height: 85px;
    margin: 1em auto;
  }
  .hc-cat-title {
    font-size: 13px;
    font-weight: bold;
  }
}
