@import './../../common/scss/_moduleCommon.scss';

.line-chart-container{

    .title{
        margin: 15px;
        font-size: 20px;
        font-weight: bold;
    }

    .line-chart-wrap{
        //height: 500px;
        margin-bottom: 30px;
    }
}
