
@import './../../common/scss/_moduleCommon.scss';
.map-chart-container{

    .title{
        margin: 15px;
        font-size: 20px;
        font-weight: bold;
    }

    .line-chart-wrap{
        margin-bottom: 30px;
    }

}
