.login-container{
  .color{
    color: #1890ff;
  }
  .username{
    margin-top: 45px;
  }
  a{
    color: cyan;
  }
  .ant-form-item{
    margin-bottom: 0;
    .ant-form-item-control{
      width: 80%;
      margin: 10px auto 5px auto;
      height: 70px;
    }
  }

  .bottom{
    text-align: center;
  }

}