.theme-picker-container{
  z-index: 99999;
  position: fixed;
  top: 60px;
  right: 0;
  &.active{
    .sw-btn{
      left: -18px;
    }
  }
  .sw-btn{
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    top: 7px;
    left: -32px;
  }
  .pick-theme-wrap{
    display: none;
    &.active{
      display: block;
    }
  }

}
