@import './../../common/scss/_moduleCommon.scss';

.animation-frame-container{
  overflow: hidden;
  .animate-wrap{
      width: 230px;
      height: 381px;
      background: rgba(193, 229, 242, 1);
      padding: 20px;
      border-radius: 6px;
      canvas{
        width: 100%;
        height: 100%;
      }
  }
  .animate-wrap-loop{
    width: 283px;
    height: 320px;
    padding: 20px;
    border-radius: 6px;
    canvas{
      width: 100%;
      height: 100%;
    }
  }
}
