@import './../../common/scss/_moduleCommon.scss';

.animation-container{
  .animate-wrap{
    float: left;
    width: 250px;
    height: 80px;
    //overflow: hidden;
    margin: 15px;
    .animate-box{
      &:hover{
        background-color: azure;
        font-size: 25px;
        h3{
          color: darkturquoise;
        }
      }
    }
  }
}