@import './../../common/scss/_moduleCommon.scss';

.basic-container{

  .demo-wrap{
    border-radius: 3px;
    padding: 20px;
    background-color: #bce8f1;
    margin-bottom: 10px;
    line-height: 23px;
    .title{
      font-size: 20px;
      margin-bottom: 15px;
    }
    .demo-show{
      i{
        font-size: 26px;
        display: inline-block;
        margin-top: 15px;
        margin-right: 20px;
      }
    }
  }

}
