
.cascader-container{
    .item{
        height: 200px;
        margin: 50px;
        padding: 30px;
        background-color: azure;
    }
}

// cascader选择框的样式
.cascader-selecte-wrap{
    .ant-cascader-menu-item{
        padding-top:8px;
        padding-bottom: 8px;
    }
    .ant-cascader-menu {
        &::-webkit-scrollbar {/*滚动条整体样式*/
            width: 2px;     /*高宽分别对应横竖滚动条的尺寸*/
            height: 1px;
          }
        &::-webkit-scrollbar-thumb {
            width: 2px;
            height: 10px;
            border-radius: 7px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: rgba(30, 169, 151, 0.3);
        }

        &::-webkit-scrollbar-track{
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: rgba(236,236,236,.1);
            border-radius: 3px;
          }

    }

    .ant-cascader-picker-label:hover + .ant-cascader-input{
        border-color: #1ea997 !important;
    }
    .ant-cascader-picker-label:hover + .ant-cascader-input{
        border-color: #1ea997 !important;
    }
    .ant-cascader-picker{
        .ant-cascader-picker-label:hover{
            border-color: #1ea997 !important;
        }
        .ant-input:hover{
            border-color: #1ea997 !important;
        }
    }
}
