@import './../../common/scss/_moduleCommon.scss';
.design-common-container{
  .content{
    border-radius: 3px;
    padding: 20px;
    background-color: #bce8f1;
    margin-bottom: 10px;
    line-height: 23px;

    .title{
      font-size: 20px;
      margin-bottom: 20px;
    }

    .demo-item{
      margin-bottom: 15px;

      .check-box-group, .multi-select-wrap{
        display: inline-block;
      }


      .des{
        display: inline-block;
        width: 100px;
      }
      .val-show{
        padding: 3px 10px;
        border-radius: 3px;
        background-color: #f56c6c;
        font-weight: bold;
      }
    }


  }
}
