@import './../../common/scss/_moduleCommon.scss';

.form-container{
  .form-items-wrap{
    .form-item{
      >div{
        float: left;
      }
      .ant-form-item-label{
        width: 150px;
      }
      .ant-form-item-control-wrapper{
        width: 500px;
      }
    }
  }
  .btns-wrap{
    .btn{
      margin-right: 20px
    }
  }
}
