@import './../../common/scss/_moduleCommon.scss';

.time-component-container{
    .demo-wrap{
        border-radius: 3px;
        padding: 20px;
        background-color: #bce8f1;
        margin-bottom: 10px;
        line-height: 26px;
        .title{
            font-size: 20px;
            margin-bottom: 15px;
        }
        .content{
            .demo-show{
                margin: 10px;
                .des{
                    display: inline-block;
                    width: 120px;
                }
                .val-show{
                    padding: 3px 10px;
                    border-radius: 3px;
                    background-color: #f56c6c;
                    margin-right: 10px;
                    font-weight: bold;
                }

                .calendar{
                    background-color: #ffffff;
                }
            }
        }
    }
}
