
@import "./../../common/scss/_moduleCommon.scss";
// default
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

// diy
.ant-layout-header {
  .anticon {
    float: left;
    padding-left: 10px;
  }
}

.ant-layout-has-sider {
}

.home-container{
  .menu-header-container{
    margin-left: 30px;
    height: 100%;
    .logout{
      margin-right: 70px;
      font-weight: bold;
      cursor: pointer;
    }
    .img-box{
      float: right;
      width: 40px;
      height: 50px;
      overflow: hidden;
      margin-right: 15px;
      border-radius: 50%;
      img{
        width: 100%;
        height: auto;
      }
    }
    .message-box{
      display: flex;
      width: 40px;
      height: 100%;
      color: #1890ff;
      align-items: center;
      margin-right: 18px;
      position: relative;
      i{
        font-size: 25px;
      }
      .msg-count{
        position: absolute;
        top: 10px;
        right: -8px;
        background-color: #f5222d;
        color: #fff;
        border: 1px solid white;
        display: inline-block;
        border-radius: 40%;
        font-size: 12px;
        line-height: initial;
        padding: 1px 3px;
      }
    }
  }
}
