@import './../../common/scss/_moduleCommon.scss';
.emoji-container{
  li{
    display: inline-block !important;
    text-align: center;
    padding: 15px;
    width: 100px;
    height: 100px;
    &:hover{
      background-color: #bce8f1;
    }
  }
}
