.rich-txt-container{
  overflow: scroll;
  .editor-wrapper{
    border: 1px solid #eeeeee;
    height: 350px;
    .bf-content{
      height: 260px;
      overflow-y: scroll;
    }
  }
  .show-box{
    float: left;
    width: 30%;
    height: 300px;
    overflow-y: scroll;
    margin-top: 10px;
    margin-right: 20px;
  }
}