@import './../../common/scss/_moduleCommon.scss';
// default
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.ant-layout-header {
  .anticon {
    float: left;
  }
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.dash-board-container{
  margin: 30px 20px;
  display: flex;
  justify-content: space-between;
  .dash-item{
    cursor: pointer;
    width: 20%;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    .txt{
      font-size: 23px;
      color: #fff;
    }
  }
}
