@import './../../common/scss/_moduleCommon.scss';

.context-api-container{
    .img-box{
        margin-left: 50px;
        width: 565px;
        height: 256px;
        background: url("./../../../images/contextAPI.png") no-repeat;
        background-size: 100%;
    }
}