@import './../../common/scss/_moduleCommon.scss';

.fn-as-child-container{
    .curp{
        cursor: pointer;
    }
    .select-tab-container{
        li {
            display: inline-block;
            margin: 0 20px 20px auto;
            &.selected{
                color:aqua
            }
        }
    }
}