@import './../../common/scss/_moduleCommon.scss';

.react-memo-demo{
    background-color: antiquewhite !important;
    padding-bottom: 20px !important;
}

.sub-container{
    margin: 10px;
    padding: 10px;
    background-color: bisque;
}
.parent-container{
    background-color: pink;
    margin: 10px;
    padding: 10px !important;
}
.child-container{
    margin-top: 10px;
    background-color: aquamarine;
}