@import './../../common/scss/_moduleCommon.scss';
.basic-learn-container{
  .title{
    font-weight: bold;
    font-size: 16px;
  }
  .img-box{
    width: 500px;
    height: auto;
  }

  .demo1{
    margin-top: 0 ;
  }
}
