
@import './../../common/scss/_moduleCommon.scss';

.communication-container{

    .item{

        .demo-content{
            padding-left: 28px;
            margin-top: 10px;
        }

        .title{
            font-size: 20px;
        }
        line-height: 25px;
        border-radius: 3px;
        padding: 20px;
        background-color: #8cc5ff;
        margin-bottom: 10px;

        .val-show{
            padding: 3px 10px;
            border-radius: 3px;
            background-color: #f56c6c;
            margin-right: 10px;
            font-weight: bold;
        }
    }

    .son-component-container{
        border-radius: 3px;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 20px;
        background-color: #bce8f1;
    }
}
