@import './../../common/scss/_moduleCommon.scss';

.constraint-container{

    .val-show{
        padding: 3px 10px;
        border-radius: 3px;
        background-color: #f56c6c;
        margin-right: 10px;
        font-weight: bold;
    }
    .demo-wrap{

        .text-area{
            margin-left: 20px;
            vertical-align: top;
        }

        line-height: 22px;
        border-radius: 3px;
        padding: 20px;
        background-color: #8cc5ff;
        margin-bottom: 10px;

        .title{
            font-size: 20px;
        }
        .demo-content{
            padding-left: 28px;
            .item{
                margin: 12px 0;
                .item-demo{
                    margin: 20px;
                }
            }
        }
    }
}
