
@import './../../common/scss/_moduleCommon.scss';
.default-props-container{
    .item-demo{
        background-color: #8cc5ff;
        padding: 20px;
        margin-bottom: 20px;
        .title{
            font-size: 20px;
        }
        .demo-content{

            .item-wrap{
                margin: 15px;
            }
        }
    }

    .son-component-container{
        border-radius: 3px;
        margin-top: 15px;
        padding: 20px;
        background-color: #bce8f1;

        .val-show{
            padding: 3px 10px;
            border-radius: 3px;
            background-color: #f56c6c;
            font-weight: bold;
        }
    }
    .son-component-container2{
        border-radius: 3px;
        margin-top: 15px;
        padding: 20px;
        background-color: #bce8f1;

        .val-show{
            padding: 3px 10px;
            border-radius: 3px;
            background-color: #f56c6c;
            font-weight: bold;
        }
    }
}
