@import './../../common/scss/_moduleCommon.scss';

.form-learn-container {
  .red{
    color: red;
  }
  .mt10{
    margin-top: 10px;
  }
  .mg10{
    margin: 10px;
  }
  .demo-wrap {
    line-height: 22px;
    border-radius: 3px;
    padding: 20px;
    background-color: #8cc5ff;
    margin-bottom: 10px;
    .title{
      font-size: 20px;
    }
    .demo-con{
      padding-left: 32px;
      margin-top: 10px;
    }
    .cls-input{
      margin-top: 10px;
    }

    .val-show{
      padding: 3px 10px;
      border-radius: 3px;
      background-color: #f56c6c;
      font-weight: bold;
    }
  }
}

