
@import './../../common/scss/_moduleCommon.scss';
.life-cycle-container{

    .demo-wrap{
        line-height: 26px;
        border-radius: 3px;
        padding: 20px;
        background-color: #8cc5ff;
        margin-bottom: 10px;
        .item{
            padding: 6px 15px;
            background-color: #bce8f1;

            .sub-item{
                padding: 6px 15px;
                background-color: #ecf5ff;
            }
        }
        .title{
            font-size: 20px;
        }
    }

    .demo-show{

        .sub-demo{
            padding-bottom: 30px;
            border-bottom: 2px dashed #000000;
        }

        .val-show{
            padding: 3px 10px;
            border-radius: 3px;
            background-color: #f56c6c;
            margin-right: 10px;
            font-weight: bold;
        }
    }

}
