.my-drag-container{
  .drag-items-wrap{
    display: flex;  // 需要，不然卡顿
    .drag-item{
      border-radius: 3px;
      display: inline-block;
      margin-right: 8px;
      background-color: #eeeeee;
      padding: 8px;
    }
  }
}
