.login-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  height: 100vh;
  background: url("./../../../images/bg.jpg") no-repeat center top;
  background-color: #282c34;

  .login-box{
    border-radius: 8px;
    width: 350px;
    height: 350px;
    background-color: rgba(9,11,16,1);
  }
}